body {
	background: #2f3542;
	color: #BBBBBB;
	margin: 200px;
	text-align: center;
}

.container {
	color: inherit;
	font-size: 72px;
	text-decoration: none;
	padding: 0 20px;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	font-size: 36px;
	color: inherit;
	padding-bottom: 20px;
}
